<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>授权应用</title>
</head>
<style>
.oauth-box {
  width: 400px;
  border: 1px solid #AAA;
  background-color: #EEE;
  padding: 8px 20px;
  margin: auto;
}
.text-muted {
  color: #888;
  font-size: 81.5%;
}
.btn-primary {
  background-color: #0051FF;
  border: 1px solid #AAA;
  font-size: 100%;
  color: #FFF;
  padding: 4px 20px;
  cursor: pointer;
}
</style>
<body>
  <div class="oauth-box">
    <form action="/OAuth2/login" method="post">
      <h3>登录页面</h3>
      <hr>
      <p> <strong>用户名</strong> <input type="text" name="username"> </p>
      <p> <strong>密  码</strong> <input type="text" name="password"> </p>
      <p> <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>"> </p>
      <p> <input type="hidden" name="client_id" value="<%= client_id %>"> </p>
      <p> <input type="hidden" name="OAuth2_authorize_url" value="<%= OAuth2_authorize_url %>"> </p>
      <hr>

      <button type="submit" class="btn-primary">确定</button>
    </form>
  </div>
</body>
</html>